[Unit]
Description=Shutdown Button Daemon

[Service]
ExecStart=/usr/bin/python3 /opt/servo.py
Restart=always
Type=simple
User=root

[Install]
WantedBy=multi-user.target
