.logout{
 padding:15px 102px;
}

.head-title{
 padding:15px;
 text-align: left;
}

.c-login{
 float: right;
}

.c-login-card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.c-login-errormessage{
  color: #ff0000;
}

.c-login-message{
  color: #32cd32;
}

img.c-login-img{
  width: 25px;
}

.c-card{
  padding: 20px;
}

.c-add-card{
  width: 60%;
  margin: 30px auto;  //中央寄せ
}

.c-switch{
  margin-bottom: 20px;
}
