[Unit]
Description=ACT Led Deamon

[Service]
ExecStart =/usr/bin/python3 /opt/service_program/led.py
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
